.background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("https://i.ibb.co/4TRKpGg/XXXp3h.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.text-mini {
  font-size: 0.65rem;
}
