.invitation {
  position: fixed;
  visibility: visible;
  opacity: 1;
  width: 100%;
}

.modal-background-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
    url("https://i.ibb.co/C6CYn3R/HLJ03177.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
