.home-background-image {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("https://i.ibb.co/hKGV4kP/DSC01931-2-png.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
