.home-background-image {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("https://i.ibb.co/g9Fxtf7/DSC01931-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font-primary {
  font-family: "Chubgothic";
}
