.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-width {
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #202124;
}

.color-black {
  color: #191919;
  /* color: rgb(25, 25, 25); */
}

.color-navy {
  color: #2d4263;
  /* color: rgb(45, 66, 99); */
}

.color-red {
  color: #c84b31;
  /* color: rgb(200, 75, 49); */
}

.color-beige {
  color: #ecdbba;
  /* color: rgb(236, 219, 186); */
}

.border-black {
  border-color: #191919;
}

.border-navy {
  border-color: #2d4263;
}

.border-red {
  border-color: #c84b31;
}

.border-beige {
  border-color: #ecdbba;
}

.button-red {
  background-color: rgba(200, 75, 49, 0.8);
}

.button-red:hover {
  background-color: rgba(200, 75, 49, 0.9);
}
