.page-width {
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #e4e2e2;
}

.color-black {
  color: #191919;
  /* color: rgb(25, 25, 25); */
}

.color-navy {
  color: #2d4263;
  /* color: rgb(45, 66, 99); */
}

.color-red {
  color: #c84b31;
  /* color: rgb(200, 75, 49); */
}

.color-beige {
  color: #ecdbba;
  /* color: rgb(236, 219, 186); */
}

.color-green {
  color: #c7cfa6;
}

.border-black {
  border-color: #191919;
}

.border-navy {
  border-color: #2d4263;
}

.border-red {
  border-color: #c84b31;
}

.border-beige {
  border-color: #ecdbba;
}

.border-green {
  border-color: #c7cfa6;
}

.button-red {
  background-color: rgba(200, 75, 49, 0.8);
}

.button-red:hover {
  background-color: rgba(200, 75, 49, 0.9);
}

.button-green {
  background-color: rgba(199, 207, 166, 0.8);
}

.button-green:hover {
  background-color: rgba(199, 207, 166, 0.9);
}
