.page-width {
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  /* background-color: #e4e2e2; */
}

.page-width:after {
  content: "";
  position: fixed; /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh; /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1; /* needed to keep in the background */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("https://i.ibb.co/g9Fxtf7/DSC01931-2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "Chubgothic";
  src: local("Chubgothic"), url(./font/chubgothic.ttf) format("opentype");
}

.ant-divider-horizontal.ant-divider-with-text {
  font-size: 1.5rem;
  border-top-color: rgb(31, 41, 55, 0.3);
  font-family: "Chubgothic";
}

.color-black {
  color: rgba(31, 41, 55);
  /* color: rgb(25, 25, 25); */
}

.color-navy {
  color: #2d4263;
  /* color: rgb(45, 66, 99); */
}

.color-red {
  color: #c84b31;
  /* color: rgb(200, 75, 49); */
}

.color-beige {
  color: #ecdbba;
  /* color: rgb(236, 219, 186); */
}

.color-green {
  color: #c7cfa6;
}

.border-black {
  border-color: rgba(31, 41, 55);
}

.border-navy {
  border-color: #2d4263;
}

.border-red {
  border-color: #c84b31;
}

.border-beige {
  border-color: #ecdbba;
}

.border-green {
  border-color: #c7cfa6;
}

.button-white {
  background-color: rgba(255, 255, 255, 0.8);
}

.button-white:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.button-black {
  background-color: rgba(31, 41, 55, 0.9);
}

.button-black:hover {
  background-color: rgba(31, 41, 55, 0.8);
  border-color: rgba(31, 41, 55);
}

.background-black {
  background-color: rgba(31, 41, 55, 0.9);
}

.ant-form-item .ant-form-item-label {
  padding-bottom: 0px;
}

.ant-input:hover {
  border-color: rgba(31, 41, 55);
}

.ant-input:focus {
  border-color: rgba(31, 41, 55);
  box-shadow: 0 0 0 2px rgba(31, 41, 55, 0.2);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: rgba(31, 41, 55);
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: rgba(31, 41, 55);
  box-shadow: 0 0 0 2px rgba(31, 41, 55, 0.2);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: rgba(31, 41, 55, 0.1);
}

.ant-btn:hover {
  border-color: rgba(31, 41, 55);
  color: #1f2937;
  background-color: rgba(31, 41, 55, 0.9);
}

.ant-btn:active {
  border-color: rgba(31, 41, 55);
  color: #1f2937;
  background-color: rgba(31, 41, 55, 0.9);
}

.ant-btn:focus {
  border-color: rgba(31, 41, 55);
  color: #1f2937;
  background-color: rgba(31, 41, 55, 0.9);
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgba(31, 41, 55, 0.9);
  border-color: rgba(31, 41, 55);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: rgba(31, 41, 55);
}
